h1{
text-align: center;
color: red;
}
body{
text-align: center;
background-color: cornsilk;
}
img{
text-align: center;
height: 450px;
width: 450px;
}
.Photos{
height: 250px;
width: 250px;
}